.bodyTitle {
  font-size: 20px;
  color: rgb(0, 8, 77);
  text-align: center;
  font-weight: bold;
}

.smallbodyTitle {
  text-align: center;
  color: #ff9900;
  font-weight: bold;
}

.homePic {
  width: 35vw;
  height: 27vh;
}

.homeContainer {
  display: flex;
}

.homeText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 60vw;
}

.mainFeedContainer {
  text-align: center;
}

.textContainer {
  background-color: rgb(238, 237, 237);
  padding: 160px;
  font-size: larger;
}

.ContactContainer {
  background-color: #ff9900;
  padding: 60px;
  font-weight: bold;
  font-size: larger;
  text-align: center;
}

@keyframes fallDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.marker {
  position: absolute;
  width: 160px;
  height: 160px;
  opacity: 0.5;
  border-radius: 50%;
  animation: fallDown 0.9s ease-in-out; 
}
.marker1 { background-color: orange }
.marker2 {  background-color: rgb(210, 184, 138) }
.marker3 {  background-color: rgb(112, 77, 11) }
.marker4 {  background-color: rgb(244, 184, 72) }

.marker1 { top: 70%; left: 35%; }
.marker2 { top: 75%; left: 40%; }
.marker3 { top: 80%; left: 55%; }
.marker4 { top: 65%; left: 60%; }